body{
    margin: 0;
    width: 100%;
    
}
h2{
    padding-top: ;
    font-size: 50px;
    font-weight: 700;
}
.food-color{
    color: green;
}
.half{
    width: 50%;
    padding: 200px;
    padding-left: 10px;
}
.nav-bar{
    display: flex;
    margin-top: 20px;
    margin-left: 80px;
}
a{
    text-decoration: none;
    background-image: linear-gradient(green, orange);
    padding: 20px 40px;
    color: white;
    font-weight: 700;
    border-radius: 30px;
    margin-left: 20px;
}
.nav-text{
    padding: 20px;
}
.images{
    margin-top: 80px;
    margin-right: 70px;
}
.about-me{
    display: flex;
    margin-right: ;
    background-image:url(../back.png);
    background-repeat: no-repeat;
    
    
}
.about-me-font{
    font-size: 40px;
}
.half-about{
    margin-top: 100px;
    width: 50%;
    padding: 100px;
    padding-left: 20px;
}
.aboutme-images{
    margin-left: 80px;
    margin-top: -75px;
}
.contact-button{
    margin-left: 0px;
}
.recipies-text{
    text-align: center;
    padding-top: 10px;

}
.food-field{
    width: 100%;
    padding-left: 100px;
}
.food-item{
    width: 50%;
    margin-left: 50px;
    margin-right: 50px;
}
#food-item{
    border: 10px solid;
    border-radius: 20px;
    border-color: white;
    box-shadow: 10px 10px 20px 5px lightgrey;
    text-align: left;
    margin: 20px;
    padding: 20px;
    width: 300px;
    height: 400px;
}
.food-field{
    padding-left: 80px;
    padding-right: 80px;
}
.half-page-a img{
    width: 300px;
    height: 300px;
}
.food-field{
    display: flex;
    width: 100%;
}
.footer-text{
    text-align: center;
    margin-top: 100px;
    color: #F5F5F5;
    background-color: #181818;
    height: 258px;
}
.food-net{
    padding-top: 40px;
}
.counting{
    text-align: center;
}

.followers{
    box-shadow: 5px 5px 20px 5px lightgrey;
    text-align: justify;
    padding-left: 50px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    margin-bottom: 100px;
    display: flex;
    height: 150px;
}
.social-media{
    width: 50%;
    text-align: left;
    margin-right: 50px;
    margin-left: 50px;
}
